<% if user_signed_in? %>
    <!-- Si el usuario está registrado, muestra este contenido -->
    <div class="container pt-4">
        <div class="row">
            <div class="col">
            <h2>Historial de Cobros</h2>
            <div class="d-flex justify-content-between">
                <%= link_to "Nuevo Cobro", new_charge_path, class: "btn btn-primary" %>
            </div>

            <table class="table table-striped mt-3">
                <thead>
                <tr>
                    <th>Fecha a</th>
                    <th>Referencia</th>
                    <th>Valor</th>
                    <th>Estado</th>
                    <th>Método de Pago</th>
                </tr>
                </thead>
                <tbody>
                <% @charges.each do |charge| %>
                    <tr>
                    <td><%= charge.created_at %></td>
                    <td><%= charge.uid %></td>
                    <td>$<%= charge.amount %></td>
                    <td>
                        <%= charge.status %>
                        </span>
                        <% if charge.error_message %>
                        <small class="text-danger"><%= charge.error_message %></small>
                        <% end %>
                    </td>
                    <td><%= charge.payment_method %></td>
                    </tr>
                <% end %>
                </tbody>
            </table>
            </div>
        </div>
    </div>

<% else %>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body text-center">
                    <h5 class="card-title">Iniciar sesión</h5>
                    <p class="card-text">Inicia sesión para acceder a tu cuenta.</p>
                    <%= link_to "Iniciar sesión", new_user_session_path, class: "btn btn-primary" %>
                    </div>
                </div>
                </div>
                <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body text-center">
                    <h5 class="card-title">Registrarse</h5>
                    <p class="card-text">Regístrate para crear una cuenta nueva.</p>
                    <%= link_to "Registrarse", new_user_registration_path, class: "btn btn-success" %>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
<% end %>